<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FORMULÁŘ</title>
    <link rel="stylesheet" text="text/css" href="formular.css">
  </head>
  <body>
    <div class="margin">
      <h1 id="title">Kontaktní formulář</h1>
      <p id="description">napište nám o jaké služby máte zájem</p>
      <form id="survey-form" action="/odeslat" method="post">
        <fieldset>
          <label for="name" id="name-label">Jméno a Příjmení</label>
          <input id="name" type="text" name="name" placeholder=" " required>
          
          <label for="email" id="email-label">Email</label>
          <input id="email" type="email" name="email" placeholder=" " required>

          <label for="phone" id="phone-label">Telefonní číslo:</label>
          <input id="phone" type="tel" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" placeholder=" " required>
                  
        </fieldset>
        
          
          
          <label for="other-media" class="label">Co by sis přál(a) s autem udělat ?</label>
          <textarea id="other-media" name="otherMedia" rows="5" cols="30" placeholder="S autem bych chtěl(a)..."></textarea> 
          
          <label class="label">Jakým způsobem chcete být kontaktováni?</label>
          <label><input type="radio" id="telefonicky-radio" name="radioResult" value="telefonicky" class="inline"> Telefonicky</label>
          <label><input type="radio" id="emailem-radio" name="radioResult" value="emailem" class="inline"> Emailem</label>
          <label><input type="radio" id="nechci-byt-kontaktovan-radio" name="radioResult" value="nechci-byt-kontaktovan" class="inline"> Nechci být kontaktován</label>


          
          <input type="submit" value="Odeslat" id="submit">
        </fieldset>
      </form>
    <div>
  </body>
</html>