<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>M</span>artin <span>K</span>ozler</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Domů</a></li>
            <li><a href="#services" data-after="Service">Služby</a></li>
            <li><a href="#projects" data-after="Projects">Projekty</a></li>
            <li><a href="#about" data-after="About">O mně</a></li>
            <li><a href="#contact" data-after="Contact">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Vítej, <span></span></h1>
        <h1>mé jméno je<span></span></h1>
        <h1>Martin <span></span></h1>
        <a href="#projects" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Slu<span>ž</span>by</h1>
        <p>Služby které nabízíme</p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Kompletní mytí exteriéru</h2>
          <p><li><p>Předmytí aktivní ph neutrální pěnou</p></li>
            <li><p>Odstranění hmyzu a nečistot</p></li>
            <li><p>Ruční mytí Nano Šampónem</p></li>
            <li><p>Ruční mytí disků</p></li>
            <li><p>Sušení karoserie a vnitřních hran dveří</p></li>
            <li><p>Impregnace pneumatik</p></li>
            <li><p>Mytí vnějších oken a zrcátek</p></li>
            <li><p>od 599 Kč</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Kompletní čištění interiéru</h2>
          <p>
            <li><p>kompletní vysátí interiéru včetně kufru</p></li>
            <li><p>vysátí koberečků</p></li>
            <li><p>tepování koberečků (čištění gumových koberečků)</p></li>
            <li><p>čištění vnitřních plastů</p></li>
            <li><p>otření kožených částí interiéru</p></li>
            <li><p>leštění vnitřních oken</p></li>
            <li><p>provonění interiéru</p></li>
            <li><p>od 999,- Kč</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Mytí exteriéru a čištění interiéru</h2>
          <p>
            <li><p>ředmytí aktivní ph neutrální pěnou</p></li>
            <li><p>odstranění hmyzu a nečistot</p></li>
            <li><p>ruční mytí Nano Šampónem</p></li>
            <li><p>ruční mytí disků</p></li>
            <li><p>sušení karoserie a vnitřních hran dveří</p></li>
            <li><p>impregnace pneumatik</p></li>
            <li><p>kompletní vysátí interiéru včetně kufru</p></li>
            <li><p>vysátí koberečků</p></li>
            <li><p>tepování koberečků (čištění gumových koberečků)</p></li>
            <li><p>čištění vnitřních plastů</p></li>
            <li><p>otření kožených částí interiéru</p></li>
            <li><p>leštění vnější a vnitřních oken + zrcátka</p></li>
            <li><p>provonění interiéru</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Čištění interiéru mokrou cestou</h2>
          <p>
            <li><p>Čištění interiéru mokrou cestou</p></li>
            <li><p>kompletní vysátí interiéru</p></li>
            <li><p>tepování podlahy a koberečků</p></li>
            <li><p>tepování všech sedadel (čištění kůže)</p></li>
            <li><p>tepování pod zadními sedáky</p></li>
            <li><p>čištění vnitřních plastů</p></li>
            <li><p>leštění vnitřních oken</p></li>
            <li><p>vysušení vozu</p></li>
            <li><p>provonění interiéru</p></li>
            <li><p>+ tepování od 359 Kč</p></li>
            <li><p>+ tepování kufru a pod rezervou od 359 Kč</p></li>
            <li><p>+ mytí vozu a hran dveří od 359 Kč</p></li>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2>Coding is Love</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>Coding is Love</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>Coding is Love</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 4</h1>
            <h2>Coding is Love</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 5</h1>
            <h2>Coding is Love</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="./img/marwell.jpg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Student</h2>
        <p>Jsem mladý student rozvíjející se v oboru Informační technologie v oblasti umělá iteligance na škole ISŠ Cheb. Tvorbou webových stránek se aktivně zabývám poslední půl rok. Je to skvělý způsob na zrelaxování a naučení se něčeho nového, programuji pouze když se mi chce, nechce to rvát na sílu, aby mě to nepřestalo bavit, když někdo zakládá firmu, tak by určitě neměl zapomenout na webovou stránku, která mu může přitáhnout nemalou část své klienteli. 
        </p>
        <a href="#" class="cta">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+420 774 262 520</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>marwellkozler@gmail.com</h2>
            <h2>kozlmartin@seznam.cz</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>V Zahradách 1224/28, 350 02, Cheb 2</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>M</span>artin <span>K</span>ozler</h1>
      </div>
      <h2>Můj website</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright © 2020 Martin. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>