<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Car Detailing</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>C</span>ar <span>D</span>etailing</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Domů</a></li>
            <li><a href="#services" data-after="Service">Služby</a></li>
            <li><a href="#projects" data-after="Projects">Balíčky</a></li>
            <li><a href="#about" data-after="About">O nás</a></li>
            <li><a href="#contact" data-after="Contact">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- konec Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>CAR <span></span></h1>
        <h1>Detailing CHEB<span></span></h1>
        <h1>+420 774 262 520 <span></span></h1>
        <a href="#projects" type="button" class="cta">Balíčky</a>
      </div>
    </div>
  </section>
  <!-- konec Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Slu<span>ž</span>by</h1>
        <p>Služby které nabízíme</p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Kompletní mytí exteriéru</h2>
          <p><li><p>Předmytí aktivní ph neutrální pěnou</p></li>
            <li><p>Odstranění hmyzu a nečistot</p></li>
            <li><p>Ruční mytí Nano Šampónem</p></li>
            <li><p>Ruční mytí disků</p></li>
            <li><p>Sušení karoserie a vnitřních hran dveří</p></li>
            <li><p>Impregnace pneumatik</p></li>
            <li><p>Mytí vnějších oken a zrcátek</p></li>
            <li><p>od 599 Kč</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Kompletní čištění interiéru</h2>
          <p>
            <li><p>Kompletní vysátí interiéru včetně kufru</p></li>
            <li><p>Vysátí koberečků</p></li>
            <li><p>Tepování koberečků (čištění gumových koberečků)</p></li>
            <li><p>Čištění vnitřních plastů</p></li>
            <li><p>Otření kožených částí interiéru</p></li>
            <li><p>Leštění vnitřních oken</p></li>
            <li><p>Provonění interiéru</p></li>
            <li><p>od 999,- Kč</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Čištění interiéru mokrou cestou</h2>
          <p>
            <li><p>Čištění interiéru mokrou cestou</p></li>
            <li><p>Kompletní vysátí interiéru</p></li>
            <li><p>Tepování podlahy a koberečků</p></li>
            <li><p>Tepování všech sedadel (čištění kůže)</p></li>
            <li><p>Tepování pod zadními sedáky</p></li>
            <li><p>Čištění vnitřních plastů</p></li>
            <li><p>Leštění vnitřních oken</p></li>
            <li><p>Vysušení vozu</p></li>
            <li><p>Provonění interiéru</p></li>
            <li><p>+ tepování od 359 Kč</p></li>
            <li><p>+ tepování kufru a pod rezervou od 359 Kč</p></li>
            <li><p>+ mytí vozu a hran dveří od 359 Kč</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Mytí exteriéru a čištění interiéru</h2>
          <p>
            <li><p>Předmytí aktivní ph neutrální pěnou</p></li>
            <li><p>Odstranění hmyzu a nečistot</p></li>
            <li><p>Ruční mytí Nano Šampónem</p></li>
            <li><p>Ruční mytí disků</p></li>
            <li><p>Sušení karoserie a vnitřních hran dveří</p></li>
            <li><p>Impregnace pneumatik</p></li>
            <li><p>Kompletní vysátí interiéru včetně kufru</p></li>
            <li><p>Vysátí koberečků</p></li>
            <li><p>Tepování koberečků (čištění gumových koberečků)</p></li>
            <li><p>Čištění vnitřních plastů</p></li>
            <li><p>Otření kožených částí interiéru</p></li>
            <li><p>Leštění vnější a vnitřních oken + zrcátka</p></li>
            <li><p>Provonění interiéru</p></li>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- konec Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">jaký <span>balíček</span> si vybrat</h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>KOMPLETNÍ MYTÍ EXTERIÉRU</h1>
            <p>Naše služba "Kompletní mytí exteriéru" zajistí vašemu vozidlu zářivý vzhled. Začínáme předmytím aktivní pH neutrální pěnou, 
              odstraňujeme hmyz a nečistoty. Následně provádíme ruční mytí s Nano šamponem a věnujeme pozornost i diskům. 
              Po důkladném sušení karoserie a vnitřních hran dveří následuje impregnace pneumatik. Nepomíjíme ani vnější okna a zrcátka. Všechno tohle začíná už od 599 Kč. 
              Dejte svému autu tu nejlepší péči!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-2.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>KOMPLETNÍ ČIŠTĚNÍ INTERIÉRU</h1>
            <p>"Kompletní čištění interiéru" je způsob, jak obnovit krásu vašeho vozu. Začínáme důkladným vysátím interiéru, včetně kufru, 
              a pečujeme o čistotu všech koberečků. Gumové koberečky procházejí profesionálním tepováním. Vnitřní plasty prošlou důkladným čištěním, 
              zatímco kožené části září po ošetření. Vnitřní okna budou křišťálově čistá po leštění. Aby byl prostor osvěžující, celý interiér provoníme. 
              Vše tohle začíná již od 999 Kč. Dopřejte svému autu péči, kterou si zaslouží, a užijte si čistý a svěže vonící interiér.</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>ČIŠTĚNÍ INTERIÉRU MOKROU CESTOU</h1>
            <p>S naší metodou "Čištění interiéru mokrou cestou" dosáhnete dokonale čistého a osvěženého vozu. Započneme kompletním vysátím interiéru a následným 
              profesionálním tepováním podlahy, koberečků a všech sedadel, včetně kůže. Tepováním pod zadními sedáky a čištěním vnitřních plastů obnovíme krásu interiéru. 
              Po leštění vnitřních oken a vysušení vozu bude vše připraveno. Navíc nabízíme možnost doplnit tepování kufru, mytí vozu a hran dveří, začínajíc od 359 Kč. 
              Dejte svému vozu tu nejlepší péči a užijte si svěží a čistý interiér.</p>
          </div>
          <div class="project-img">
            <img src="./img/img-3.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>MYTÍ EXTERIÉRU A ČIŠTĚNÍ INTERIÉRU</h1>
            <p>S naší kombinovanou službou "Mytí exteriéru a čištění interiéru" bude váš vůz v dokonalém stavu. Začínáme předmytím aktivní pH neutrální pěnou, 
              odstraněním hmyzu a nečistot, a ručním mytím Nano šampónem. Disky září po ručním mytí, a karoserie a vnitřní hrany dveří jsou důkladně usušeny. 
              Pneumatiky získají impregnaci pro delší životnost. Interiér je kompletně vysát včetně kufru a tepováním koberečků, včetně gumových, získá nový lesk. 
              Vnitřní plasty jsou čisté a kožené části lesklé. Vnější i vnitřní okna, včetně zrcátek, jsou lesklá a vůz provoníme. Vše toto poskytujeme pro váš komfort a bezpečnost.</p>
          </div>
          <div class="project-img">
            <img src="./img/img-4.png" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- konec Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="./img/marwell.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">O <span>nás</span></h1>
        <h2>Since 2019</h2>
        <p>Sametově hladký povrch, lesklé laky a bezvadné interiéry. To vše je doménou naší car detailing firmy. S vášní ke každému autu se věnujeme detailnímu čištění, lakování, a péči o každý detail, aby vaše vozidlo zářilo čistotou a krásou. Naši zkušení technici používají nejnovější technologie a špičkové produkty, aby dosáhli dokonalého výsledku. Bez ohledu na značku, model nebo stáří vašeho auta, u nás dostane péči, kterou si zaslouží. Dejte svému autu tu nejlepší péči a spojte se s námi pro profesionální car detailing služby, které ho promění ve skutečný klenot na silnici. 
        </p>
        <a href="/formular" class="cta">napíšu vám</a>
      </div>
    </div>
  </section>
  <!-- konec About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Kontaktní <span>údaje</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+420 774 262 520</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>marwellkozler@gmail.com</h2>
            <h2>kozlmartin@seznam.cz</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>V Zahradách 1224/28, 350 02, Cheb 2</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- konec Contact Section -->
  
  <div class="map-container">
    <iframe style="border:none" src="https://frame.mapy.cz/s/monepehaho" width="100%" height="500" frameborder="3"></iframe>
  </div>
  <p></p>
  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>M</span>artin <span>K</span>ozler</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/martin.kozler.9/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /> </a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/mart1n_kozler/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>        
      </div>
      <p>Copyright © 2023 Martin. Všechna práva vyhrazena.</p>
    </div>
  </section>
  <!-- konec footer -->
<script src="./app.js"></script>
</body>

</html>