<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>JacobCars Detailing Aš</title>
</head>

<body>
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1>Jacob<span>Cars</span> <span>Detailing</span> Aš</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home"><b>Domů</b></a></li>
            <li><a href="#services" data-after="Service"><b>Ceník</b></a></li>
            <li><a href="#projects" data-after="Projects"><b>Balíčky</b></a></li>
            <li><a href="#about" data-after="About"><b>O nás</b></a></li>
            <li><a href="#contact" data-after="Contact"><b>Kontakt</b></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section id="hero">
    <div class="hero container">
      <div>
        <h1>JacobCars<span></span></h1>
        <h1>Detailing Aš<span></span></h1>
        <h1>+420 774 262 520 <span></span></h1>
        <a href="#projects" type="button" class="cta">Balíčky</a>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title"><span><b>C</b></span><b>e</b><b>ník</b></h1>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>500KČ</h2>
          <p><li><p>Ruční mytí</p></li>
            <li><p>umytí ALU kol a oživení pneu</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>800KČ</h2>
          <p>
            <li><p>Ručná mytí</p></li>
            <li><p>umytí ALU kol</p></li>
            <li><p>oživení pneu a plastů</p></li>
            <li><p>Nanesení ceramoc coating Gyeon na 3 měsíce.</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>2200KČ</h2>
          <p>
            <li><p>Ruční mytí</p></li>
            <li><p>umytí ALU kol</p></li>
            <li><p>oživení pneu a plastů</p></li>
            <li><p>Dekontaminace laku od plétavé rzi, asfaltu a lepidel</p></li>
            <li><p>Odmaštění laku</p></li>
            <li><p>Vyleštění skel a nansení tekutých stěračů</p></li>
            <li><p>Nanesení roční ceramic coating Gyeon.</p></li>
          </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>2500KČ</h2>
          <p>
            <li><p>Ruční mytí</p></li>
            <li><p>umytí ALU kol</p></li>
            <li><p>oživení pneu a veškerých plastů</p></li>
            <li><p>Detailní umytí interiéru</p></li>
            <li><p>vyluxování celého auta a vyčištění koberečků</p></li>
            <li><p>vyleštění skel a nanesení tekutých stěračů</p></li>
            <li><p>nanesení ceramic coating na půl roku</p></li>

          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"><b>jaký </b><span><b>balíček </b></span><b>si vybrat</b></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Balíček za <span class="price">500 Kč</span></h1>
            <p>Oživte své vozidlo za 500 Kč! s naším ručním mytím! Detailní péči poskytujeme nejen karoserii, ale také vašim ALU kolům a pneumatikám. 
              Profesionální detailéři odstraní špínu a zanechají váš vůz lesklý a elegantní. Oživení pneumatik zahrnuje čištění a aplikaci speciálních prostředků pro sytý vzhled. 
              S naším ručním mytím se každý centimetr vašeho vozu dostane do péče odborníka. Za přijatelnou cenu si užijte luxusního vzhledu svého auta!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-2.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Balíček za <span class="price">800 Kč</span></h1>
            <p>Získejte exkluzivní ruční mytí za 800 Kč! Naše odborné mytí zahrnuje nejen čištění ALU kol, oživení pneumatik a plastů, 
              ale také vrcholné nanesení Ceramoc Coating Gyeon pro ochranu a lesk po dobu 3 měsíců. Vaše vozidlo bude nejen krásné, ale také chráněné před nepřízní počasí. 
              Využijte této příležitosti pro luxusní vzhled a dlouhodobou péči o váš automobil!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Balíček za <span class="price">2,200 Kč</span></h1>
            <p>Získáte vrcholné ruční mytí za 2,200 Kč! Naše komplexní péče zahrnuje nejen umytí ALU kol a oživení pneumatik a plastů, ale také dekontaminaci laku od plétavé rzi, 
              asfaltu a lepidel. Pro odmaštění laku, vyleštění skel a nanesení tekutých stěračů. Vrcholem je nanesení ročního ceramic coating Gyeon, který poskytuje nejen lesk, 
              ale i odolnost proti nepříznivým vlivům. Vaše vozidlo bude nejen krásné, ale také pečlivě chráněné. 
              Investujte do luxusní péče o své auto a užívejte si jeho oslnivý vzhled a dlouhodobou ochranu.</p>
          </div>
          <div class="project-img">
            <img src="./img/img-3.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Balíček za <span class="price">2,500 Kč</span></h1>
            <p>Za nezapomenutelnou péči o vaše auto pouze za 2,500 Kč! Náš kompletní balíček obsahuje ruční mytí s důrazem na čistotu ALU kol, oživení pneumatik a plastů. 
              Uvnitř auta provedeme detailní čištění interiéru, vyluxujeme celý vůz a vyčistíme koberečky. Skla budou lesklá po vyleštění a nanesení tekutých stěračů. 
              Pro dlouhodobou ochranu přidáme ceramic coating na půl roku. Prožijte dokonalý mix čistoty, lesku a ochrany v jednom balíčku. 
              Investujte do péče o své auto s naším kompletním servisem!</p>
          </div>
          <div class="project-img">
            <img src="./img/img-4.png" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="./img/cardetailing.jpg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title"><b>O </b><span><b>nás</b></span></h1>
        <h2><b>Since 2022</b></h2>
        <p>Vítejte v JacobCars Detailing, kde profesionální péči poskytujeme nejen vozům, ale i vášní pro detail. Chcete si užívat vaše auto čisté a voňavé? Dopřejte mu péči, kterou si zaslouží!

          Naše firma se specializuje na profesionální služby v oblasti čištění interiéru i exteriéru vozů. Jsme zde, abychom vašim vozidlům poskytli péči na nejvyšší úrovni. S nabídkou detailního ručního mytí exteriéru, včetně oživení ALU kol a plastů, a s důkladným čištěním interiéru, včetně jeho ošetření, se staráme o každý detail. Jsme připraveni čelit požadavkům týkajícím se čistoty a krásy vašich vozů.
          
          U nás není čistění jen povinností, ale uměním. Naše vášeň pro detail a preciznost nás posouvá k dokonalosti. Odměňte své auto tím nejlepším - JacobCars Detailing. Vaše spokojenost je naší prioritou, a proto jsme zde, abychom vaše auto přivedli do nejlepší možné formy. Důvěřujte nám a užijte si cestu v čistotě a luxusu. 
        </p>
        <a href="/formular" class="cta">napíšu vám</a>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Kontaktní <span>údaje</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>TELEFON</h1>
            <h2>+420 774 262 520</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>EMAIL</h1>
            <h2>marwellkozler@gmail.com</h2>
            <h2>kozlmartin@seznam.cz</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>ADRESA</h1>
            <h2>V Zahradách 1224/28, 350 02, Cheb 2</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <div class="map-container">
    <iframe style="border:none" src="https://frame.mapy.cz/s/monepehaho" width="100%" height="500" frameborder="3"></iframe>
  </div>

  <p></p>
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>M</span>artin <span>K</span>ozler</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://w.app/JacobCarsDetailing" target="_blank"><img src="https://img.icons8.com/?size=256&id=108653&format=png" /> </a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/mart1n_kozler/" target="_blank"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>        
      </div>
      <p><b>Copyright © 2023 Martin.</b></p>
    </div>
  </section>
<script src="./app.js"></script>
</body>

</html>